.app {
   
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

}
.container label{
  font-size: 30px;
  font-weight: bold;
}
.container input {
  padding: 5px;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
}
button{
  
  background-color: aqua;
  padding: 8px; 
  border-radius: 8px;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
  border:none
  
}