.accordian {
  width: 400px;
  border: 2px solid red;
  margin: auto;
}

.accordian-item {
  padding: 12px;
  background-color: azure;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 10px;
  width: 100%;
  border: none;
}

.content {
  background-color: beige;
  padding: 10px;

}

.button {
  border: none;
}